
SocksPort 0
Log info stderr

RunAsDaemon {{ getenv "DAEMON" "0"}}
ControlSocket 0

DataDirectory {{ getenv "DATADIR" "/var/lib/tor" }}

ORPort {{ getenv "ORPORT" "9001" }}

Nickname {{ getenv "NICKNAME" "test" }}

RelayBandwidthRate 100 KB  # Throttle traffic to 100KB/s (800Kbps)
RelayBandwidthBurst 200 KB # But allow bursts up to 200KB/s (1600Kbps)

ContactInfo {{ getenv "CONTACTINFO" "info@info.info" }}

DirPort {{ getenv "DIR_PORT" "9091"}}
DirPortFrontPage /etc/tor/tor-exit-notice.html

Sandbox 1
# HardwareAccel 1
# AvoidDiskWrites 1
# NoExec 1
# UseDNSCache 1
# UseEntryGuards 1
# SafeSocks
# ClientRejectInternalAddresses
# RefuseUnknownExits

{{ if eq "accept" (getenv "EXIT_POLICY") }}
ExitPolicy accept *:6660-6667,reject *:* # allow irc ports but no more
{{ else }}

ExitPolicy reject *:* # no exits allowed
ExitPolicy reject6 *:*
{{ end }}

{{ if eq "bridge" (getenv "EXIT_POLICY") }}
BridgeRelay 1
{{ else }}
BridgeRelay 0
{{ end }}
