
SocksPort {{ getenv "SOCKS_HOST" "127.0.0.1"}}:{{getenv "SOCKS_PORT" "9050"}}

#SocksPolicy accept 192.168.0.0/16
#SocksPolicy reject *
SocksPolicy {{ getenv "SOCKS_POLICY" "accept *"}}
Log debug stderr
RunAsDaemon {{ getenv "DAEMON" "0"}}

#ControlPort 9051
#HashedControlPassword 16:872860B76453A77D60CA2BB8C1A7042072093276A3D701AD684053EC4C
#CookieAuthentication 1

#HiddenServiceDir /var/lib/tor/hidden_service/
#HiddenServicePort 80 127.0.0.1:80

#HiddenServiceDir /var/lib/tor/other_hidden_service/
#HiddenServicePort 80 127.0.0.1:80
#HiddenServicePort 22 127.0.0.1:22

DataDirectory {{ getenv "DATADIR" "/var/lib/tor" }}

ORPort {{ getenv "ORPORT" "9001" }}

Nickname {{ getenv "NICKNAME" "test" }}

#RelayBandwidthRate 100 KB  # Throttle traffic to 100KB/s (800Kbps)
#RelayBandwidthBurst 200 KB # But allow bursts up to 200KB/s (1600Kbps)
#AccountingMax 4 GB
#AccountingStart day 00:00
#AccountingStart month 3 15:00

ContactInfo {{ getenv "CONTACTINFO" "info@info.info" }}

#DirPort 9030 # what port to advertise for directory connections

#DirPort 80 NoListen
#DirPort 127.0.0.1:9091 NoAdvertise

#DirPortFrontPage /etc/tor/tor-exit-notice.html

{{ if eq "accept" (getenv "EXIT_POLICY") }}
ExitPolicy accept *:6660-6667,reject *:* # allow irc ports but no more
{{ else }}
ExitPolicy reject *:* # no exits allowed
{{ end }}

{{ if eq "bridge" (getenv "EXIT_POLICY") }}
BridgeRelay 1
{{ else }}
BridgeRelay 0
{{ end }}
